.dashboardLayout{
    display: flex;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;

    .menu{
        flex: 1;
    }
    .content{
        flex: 4;
        background-color: #c8bca5;
        border-radius: 16px;
    }

    .Link{
        text-decoration: none;
    }
}